---
layout: archive
title: "Enseignement"
permalink: /teaching/
author_profile: true
---

Dans le cadre de mon doctorat, je suis également intervenu en tant que chargé de TD ou sur l'encadrement de projet sur différentes formations.
<ul>
  <li><strong>Statistiques descriptives 1 & 2</strong> (TD, L2 MIASHS, 50h)<br>
      Introduction aux statistiques, des représentations (diagrammes, histogrammes,…) aux concepts de médiane, variance, quantiles, jusqu’aux questions de régression et l’introduction du machine learning. Utilisation du langage R
  </li>

  <li><strong>Programmation Web</strong> (TD, L3 Informatique, 24h) <br>
      Introduction aux langages php et html pour la création d’un site web comme projet final interagissant avec une base de données
  </li>

  <li><strong>Intelligence Artificielle</strong> (TD, L3 Informatique, 15h)<br>
      Introduction à l’intelligence artificielle à base de règles logiques à l’aide du langage CLIPS
  </li>

  <li><strong>Encadrement d’un projet du Master Humanités Numériques</strong> (10h)<br>
      Projet d’analyse d’un corpus de littérature francophone numérique issu de LIFRANUM avec des étudiants venant des Humanités
  </li>

  <li><strong>Programmation Python</strong> (TD, M1 Informatique, 10h)<br>
      Introduction au langage Python pour l’analyse et le traitement de données
  </li>
</ul>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
